@media(max-width:430px){
    .nav h4{
        padding: 0px 10px;
        font-size: 18px !important;
    }

    .logo{ 
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .bar{
        cursor: pointer;
        font-size: 18px;
        padding: 0px 10px;
    }
    .responsive-para{
        padding: 5px !important;
        margin: 5px 3px !important;
    }
    .myprofile{
        padding: 0px !important;
    }
    .btn{
        margin: 5px 0px;
    }
    .col-lg-12{
        padding: 3px 0px !important;
        text-align: center;
        font-size: 11px;
    }
    .menu{
    display: none;
    width: 100%;
    text-align: center;
    }

    .menu.active{
    display: block;
    }

    .menu ul{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    margin: 0;
    }

    .menu ul li{
    padding: 10px 0px;
    list-style: none;
    }
    
    .myname{
        font-size: 16px;
    }
    .section-title{
        font-size: 20px;
    }
     .contact-box{
    margin:5px 0px !important;
   }
  
}
@media(min-width:431px) and (max-width:576px){
    .bar{
        display: none;
    }
    .menu a{
        padding: 0px 5px !important;
    }
}

@media(min-width:577px)and (max-width:768px){
    .bar{
        display: none;
    }
    .menu a{
        padding:  5px 10px !important;
    }
}

@media(min-width:769px){
    .bar{
        display: none;
    }
}